# Ignore folders
www/
cloud/
.cursor/
.vscode/
.cloud/
.storage/
addons/
appdaemon/
blueprints/
custom_components/
custom_icons/
deps/
downloads/
image/
llmvision/
popup/
pyscript/
tts/

# Ignore files
.activities_list.json
.cursorignore
.HA_VERSION
.shopping_list.json
centered_navicon_bin.svg
go2rtc-1.9.4
home-assistant.log
home-assistant*
home-assistant_backup_default
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
i_want_an_absolute_best_mpv.md
secrets.yaml
theme_variables.md
ui_conversation.md
ui_research.md
ui_setup.md
ui_setup_v2.md
zigbee.db
zigbee.db-shm
zigbee.db-wal
git_sync.sh
git_sync_result.txt
